<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="https://images.unsplash.com/photo-1608198093002-ad4e005484ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJyZWFkfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
  </div>
  <div class="headings">
    <h2>Tour Les Jours</h2>
    <h3>365 Өдөр бүр шинэ</h3>
    <a href="/smoothies" class="btn">Цааш үзэх</a>
  </div>
</header>

<script>


</script>
<%- include('partials/footer'); -%>